body {
    margin: 0;
    background: white;
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .gameboard {
    height: 100vh;
    width: 100vh;
    /* border-radius: 50%; */
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    max-height: 100vh;
    max-width: 100vh;
  }

  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .celeste {
    background: rgb(2,0,36);
    background: linear-gradient(125deg, rgba(2,0,36,1) 0%, rgba(7,77,223,1) 30%, rgba(0,255,209,1) 100%);
  }

  .celeste.light {
    background: rgb(55, 172, 207);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(7,77,223,0.27494747899159666) 30%, rgba(0,255,209,1) 100%);
  }

  .violeta {
    background: rgb(224,63,251);
    background: linear-gradient(225deg, rgb(253, 41, 129) 0%, rgb(255, 150, 171) 100%);
  }

  .violeta.light {
    background: #e056fd;
  }

  .naranja {
    background: rgb(149,4,4);
    background: linear-gradient(45deg, rgba(149,4,4,1) 0%, rgba(253,29,29,1) 25%, rgba(252,176,69,1) 100%);
  }

  .naranja.light {
    background: rgb(255, 189, 114);
    background: linear-gradient(45deg, rgba(255,199,199,1) 0%, rgba(253,29,29,0.3029586834733894) 25%, rgba(252,176,69,1) 100%);
  }

  .verde {
    background: rgb(34,193,195);
    background: linear-gradient(325deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);    
  }

  .verde.light {
    background: rgb(107,251,96);
    background: linear-gradient(109deg, rgba(107,251,96,0.5214460784313726) 0%, rgba(255,202,88,0.20772058823529416) 100%);
  }

  .btn-start {
    width: 600px;
    height: 160px;
    background: #ecf0f100;
    color: #ffffff;
    font-size: 5rem;
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 300px);
    border: #ffffff solid;
    padding: 10px;
  }

  .hide {
    display: none;
  }

  * {
    font-family: Arial, Helvetica, sans-serif;
  }